.NasaAPOD {
  width: 100vw;
  min-height: 100vh;
  /* max-width: 768px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: url(https://github.githubassets.com/images/modules/site/readme/readme-bg-pattern.png)
    repeat fixed rgba(0, 0, 0, 0.9);
  /* margin: 50px; */
}

.footer {
  /* background-color: #232326; */
  color: #ffffff;
  padding: 1rem 6rem;
  padding-top: 2rem;
  font-size: 0.9rem;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.developer {
  text-decoration: none;
  font-weight: bold;
  font-weight: 900;
  color: #ffffff;
}

.social_icons i,
.logosvg {
  color: #eaeaea44;
  font-size: 20px;
  margin: 10px;
  transition-duration: 0.5s;
}

@media (hover: hover) {
  .social_icons i:hover {
    color: #eaeaea;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem;
    font-size: 0.8rem;
    flex-direction: column;
    text-align: left;
  }
  .footer div,
  .footer b {
    padding: 0.2rem 0rem;
  }
}
